<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid content">
    
    <a class="navbar-brand" (click)="scrollTo('home')">
      <img src="assets/images/yo.jpeg" alt="">
      Luis García Arranz
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="scrollTo('about')" [class.active]="activeSection === 'about'">{{ translations.aboutMe }}</a>
        <a class="nav-item nav-link" (click)="scrollTo('experience')" [class.active]="activeSection === 'experience'">{{ translations.experience }}</a>
       <!--  <a class="nav-item nav-link" (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">Proyectos</a> -->
        <button class="btn btn-outline-primary" (click)="scrollTo('contact')" [class.active]="activeSection === 'contact'" type="button">{{ translations.contactMe }}</button>
        <div class="language-switcher">
          <button class="btn btn-sm btn-outline-secondary language-btn" (click)="toggleLanguage()" type="button">
            {{ currentLanguage === 'es' ? 'EN' : 'ES' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
