<div class="content">
    <div class="row">
        <div class="col-5">
                <div class="d-flex justify-content-center">
                    <h2 class="section-title">{{ translations.aboutTitle }}</h2>
                </div>
                <div class="text-about">
                    <p>{{ translations.aboutText1 }}</p>
                    <p>{{ translations.aboutText2 }}</p>
                    <p>{{ translations.aboutText3 }}</p>
                    <p>{{ translations.aboutText4 }}</p>
                </div>
                    
                    
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h3 class="skills-title">
                {{ translations.skillsTitle }}
            </h3>
           <div class="skills">
                @for(skill of skillsList; track $index) {
                    <div class="skill">{{skill}}</div>
                }
                
           </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <!--     <h3>My Skills</h3> -->
        </div>
    </div>
    

        
        
</div>
