<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h1 class="experience-title">{{ translations.experienceTitle }}</h1> 
             </div>
        </div>
        <div class="col-12">
          <div class="row experience-row">
            <div class="col-6">
              <div class="experience-date">2025-actualidad</div>
              <div class="experience-company">Capgemini</div>
            </div>
            <div class="col-6">
              <div class="text-experience">
                <p>
                  <strong>{{ translations.capgemini.title }}</strong>
                </p>
                <p>
                  {{ translations.capgemini.description1 }}
                </p>
                <p>
                  <strong>Liderazgo Técnico:</strong> {{ translations.capgemini.description2 }}
                </p>
                <p>
                  <strong>Desarrollo Avanzado:</strong> {{ translations.capgemini.description3 }}
                </p>
                <p>
                  <strong>Mentoring y Colaboración:</strong> {{ translations.capgemini.description4 }}
                </p>
              </div>
            </div>
          </div>

          <hr class="custom-line">

          <div class="row experience-row">
            <div class="col-6">
              <div class="experience-date">2025-actualidad</div>
              <div class="experience-company">EdicBravos</div>
            </div>
            <div class="col-6">
              <div class="text-experience">
                <p>
                  <strong>{{ translations.edicbravos.title }}</strong>
                </p>
                <p>
                  {{ translations.edicbravos.description1 }}
                </p>
                <p>
                  <strong>Desarrollo de MicroSaas:</strong> {{ translations.edicbravos.description2 }}
                </p>
                <p>
                  <strong>Desarrollo Web con WordPress:</strong> {{ translations.edicbravos.description3 }}
                </p>
                <p>
                  <strong>Estrategia Tecnológica:</strong> {{ translations.edicbravos.description4 }}
                </p>
              </div>
            </div>
          </div>

          <hr class="custom-line">

          <div class="row experience-row">
            <div class="col-6">
              <div class="experience-date">2022-2025</div>
              <div class="experience-company">Sercide</div>
            </div>
            <div class="col-6">
              <div class="text-experience">
                <p>
                  <strong>{{ translations.sercide.title }}</strong>
                </p>
                <p>
                  {{ translations.sercide.description1 }}
                </p>
                <p>
                  <strong>Frontend:</strong> {{ translations.sercide.description2 }}
                </p>
                <p>
                  <strong>Backend:</strong> {{ translations.sercide.description3 }}
                </p>
                <p>
                  <strong>Gestión de Datos:</strong> {{ translations.sercide.description4 }}
                </p>
                <p>
                  <strong>Despliegue y Hosting:</strong> {{ translations.sercide.description5 }}
                </p>
                <p>
                  <strong>Control de Versiones y Colaboración:</strong> {{ translations.sercide.description6 }}
                </p>
                <p>
                  <strong>Gestión de Proyectos y Resolución de Incidencias:</strong> {{ translations.sercide.description7 }}
                </p>
                <p>
                  {{ translations.sercide.description8 }}
                </p>
              </div>
            </div>
          </div>

          <hr class="custom-line">

          <div class="row experience-row">
            <div class="col-6">
              <div class="experience-date">2018-2022</div>
              <div class="experience-company">Comunytek Consultores</div>
            </div>
            <div class="col-6">
              <div class="text-experience">
                <p>
                  <strong>{{ translations.comunytek.title }}</strong>
                </p>
                <p>
                  {{ translations.comunytek.description1 }}
                </p>
                <p>
                  <strong>Desarrollo con Tecnologías Avanzadas:</strong> {{ translations.comunytek.description2 }}
                </p>
                <p>
                  <strong>Gestión y Tratamiento de Datos:</strong> {{ translations.comunytek.description3 }}
                </p>
                <p>
                  <strong>Asesoría y Soporte al Cliente:</strong> {{ translations.comunytek.description4 }}
                </p>
                <p>
                  {{ translations.comunytek.description5 }}
                </p>
              </div>
            </div>
          </div>

        </div>
    </div>
   
</div>
